<template>
  <div>
    <div v-show="tableInit">
      <table :id="id" ref="table" class="table table-bordered table-hover table-striped w-100">
        <slot></slot>
        <TBody v-if="tbodyHtml" :html="tbodyHtml" @deleteItem="deleteItem" />
      </table>
    </div>
  </div>
</template>

<script>

import TBody from "./TBody";

export default {
  name : 'DataTable',
  components: {TBody},
  props: {
    value: Object,
    deleteAction: {
      type: Function,
      require: false
    }
  },
  data: () => ({
    tbodyHtml: '',
    tableInit: false,
    datatable: {}
  }),
  computed: {
    id(){
      return 'dt' + this._uid
    },
    api(){
      return this.value.api || ''
    },
    params(){
      return this.value.params || {}
    },
    config(){
      return this.value.config || {}
    },
    table(){
      return $(this.$refs.table)
    },
    dtObj(){
      let ths = $('thead th', this.table),
        arrTH = [];

      for(let th of ths) {
        if($(th).attr('field')) {

          let obj = { "data": $(th).attr('field') }

          if($(th).attr('class')) {
            obj['className'] = $(th).attr('class')
          }

          if($(th).attr('width')) {
            obj['width'] = $(th).attr('width')
          }

          arrTH.push(obj)
        } else {
          arrTH.push({})
        }
      }

      let obj = {
        processing   : false,
        serverSide   : false,
        searching    : false,
        lengthChange : false,
        pageLength   : 30,
        retrieve     : true,
        ajax         : {
          url     : this.$axios.defaults.baseURL + '/' + this.api,
          headers : this.$axios.defaults.headers.common,
          data    : this.params,
        },
        language     : this.getLanguage(),
        initComplete : (setting , json) => {
          if(!this.tableInit) {
            this.getTbodyHtml()
            this.tableInit = true
          }
        },
        drawCallback: ( setting ) => {
          if(this.tableInit) {
            this.getTbodyHtml()
          }
        },
        columns: arrTH
      }

      // Override default object
      for(let item in this.config) {
        obj[item] = this.config[item]
      }

      return obj
    }
  },
  created() {
  },
  mounted() {
    this.initTable()
  },

  watch: {
    'value.params': {
      handler: function(newParams) {
        this.dtObj.ajax.data = newParams
        this.datatable.destroy()
        this.tbodyHtml = ''
        this.tableInit = false

        setTimeout(() => {
          this.initTable()
        }, 100);
      },
      deep: true
    }
  },

  methods: {
    initTable() {
      this.datatable = this.table.DataTable(this.dtObj)
    },

    deleteItem(id) {
      if (this.deleteAction) this.deleteAction(id)
      else {
        this.$h.confirmDelete(async () => {
          await this.$axios.$post(this.api+'/delete',{id:id})
          this.datatable.ajax.reload()
          this.$emit('deleteDone')
        })
      }
    },

    getTbodyHtml() {

      let nearestTbody = $('tbody', this.table).not(".vueHtml")

      if(nearestTbody.length > 1 ) {
        nearestTbody = nearestTbody.last()
      }

      const strBody = '<tbody class="vueHtml">' + nearestTbody.html() + '</tbody>';
      $('tbody', this.table).not(".vueHtml").hide()

      this.tbodyHtml = strBody
    },
    getLanguage() {
      return this.$i18n.t("datatable")
    },

    reload(){
      this.datatable.ajax.reload()
    }
  },
};
</script>
