<template>
  <div class="input-group datetimepicker">
    <date-picker v-if="format" :format="format" type="datetime" :id="id" v-model="iValue" v-bind="$attrs"></date-picker>
  </div>
</template>

<script>

import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'

export default {
  components: { DatePicker },
  props: {
    value: {
      type: null,
      default: ''
    }
  },
  data: () => ({
    iValue: '',
    format: ''
  }),
  computed: {
    id(){
      return 'daterange-picker' + this._uid
    }
  },
  watch: {
    // Handles internal model changes.
    iValue(newVal) {
      const date = this.$moment(newVal, this.format).isValid() ? this.$moment(newVal, this.format).format('YYYY-MM-DD HH:mm:ss') : ''
      this.$emit('input', date)
    },
    // Handles external model changes.
    value(newVal) {
      if (this.$moment(newVal, 'YYYY-MM-DD HH:mm:ss').isValid()) this.iValue = this.$moment(newVal, 'YYYY-MM-DD HH:mm:ss').format(this.format)
      else this.iValue = newVal
    }
  },
  created() {
    this.format = this.$t('datetime-picker.format')

    if (this.$moment(this.value).isValid()) {
      this.iValue = this.$moment(this.value).format(this.format)
    }
  }
}
</script>
