<template>
  <div class="input-group">
    <input :id="id" v-model="iValue" v-bind="$attrs" :data-date-format="format.toLowerCase()" type="text" class="form-control" :placeholder="label ? label : $t('select_date')">
    <div class="input-group-append">
      <span class="input-group-text fs-xl">
        <i class="fal fa-calendar-alt"></i>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: [String,Number],
    label: String,
    orientation: {
      type: String,
      default: 'bottom, left'
    },
    todayHighlight: {
      type: Boolean,
      default: true
    },
    clearBtn: {
      type: Boolean,
      default: true
    },
    todayBtn: {
      type: [String, Boolean],
      default: false
    },
    control: {
      type: Object,
      default () {
        return {
          leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }
      }
    },
    view: String
  },
  data: () => ({
    iValue: '',
    format: '',
    options: {}
  }),
  computed: {
    id(){
      return 'datepicker' + this._uid
    }
  },
  watch: {
    iValue(newVal) {
      const date = this.$moment(newVal, this.format).isValid() ? this.$moment(newVal, this.format).format('YYYY-MM-DD') : ''
      this.$emit('input', date)
    },
    value(newVal) {
      this.iValue = this.$moment(newVal, 'YYYY-MM-DD').isValid() ? this.$moment(newVal, 'YYYY-MM-DD').format(this.format) : ''
    }
  },
  created() {
    this.options = {
      orientation: this.orientation,
      todayHighlight: this.todayHighlight,
      clearBtn: this.clearBtn,
      todayBtn: this.todayBtn,
      templates: this.controls
    }

    if (this.view === 'month') {
      this.options.viewMode = 'months'
      this.options.minViewMode = 'months'
      this.format = 'MM-YYYY'
    } else if (this.view === 'year') {
      this.options.viewMode = 'years'
      this.options.minViewMode = 'years'
      this.format = 'YYYY'
    } else {
      this.format = this.$t('date-picker.format')
    }

    this.iValue = this.$moment(this.value, this.format).isValid() ? this.$moment(this.value).format(this.format) : ''
  },
  mounted() {
    $.fn.datepicker.dates['en'] = this.$i18n.t("date-picker")

    $('#' + this.id).datepicker(this.options).on('changeDate', (e) => {
      this.iValue = this.$moment(e.date).isValid() ? this.$moment(e.date).format(this.format) : ''
    }).on('clearDate', () => {
      setTimeout(() => {
        this.iValue = ''
      }, 1)
    })
  }
}
</script>
