<template>
  <div className="input-group">
    <input :id="id" ref="drp" v-bind="$attrs" class="form-control">
    <div className="input-group-append">
      <span className="input-group-text fs-xl">
        <i className="fal fa-calendar-alt"></i>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    start: String,
    end: String,
    label: String,
    options: {
      type: Object,
      default() {
        return {}
      }
    },
    timePicker: {
      type: Boolean,
      default: false
    },
    timePickerSecond: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    iValue: '',
    format: '',
    locale: {}
  }),
  computed: {
    id() {
      return 'daterange-picker' + this._uid
    }
  },
  watch: {
    start(newVal) {
      if ($('#' + this.id).length) {
        const date = this.$moment(newVal, 'YYYY-MM-DD').isValid() ? this.$moment(newVal, 'YYYY-MM-DD') : this.$moment()
        $('#' + this.id).data('daterangepicker').setStartDate(date)
      }
    },
    end(newVal) {
      if ($('#' + this.id).length) {
        const date = this.$moment(newVal, 'YYYY-MM-DD').isValid() ? this.$moment(newVal, 'YYYY-MM-DD') : this.$moment()
        $('#' + this.id).data('daterangepicker').setEndDate(date)
      }
    },
    id(newVal) {
      // console.log(newVal)
    }
  },
  created() {
    this.format = this.$t('date-picker.format')
    if (this.timePicker) {
      this.format += ' HH:mm'
      if (this.timePickerSecond) this.format += ':ss'
    }
    this.locale = {...this.$i18n.t("date-range-picker")}
    this.locale.format = this.format
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      const options = {
        "showDropdowns": true,
        "showWeekNumbers": true,
        "showISOWeekNumbers": true,
        "timePicker": this.timePicker,
        "timePicker24Hour": true,
        "timePickerSeconds": this.timePickerSecond,
        "autoApply": false,
        "autoUpdateInput": true,
        "locale": this.locale,
        // "maxSpan": {
        //   "days": 7
        // },
        // ranges: {
        //   'Today': [this.$moment(), this.$moment()],
        //   'Yesterday': [this.$moment().subtract(1, 'days'), this.$moment().subtract(1, 'days')],
        //   'Last 7 Days': [this.$moment().subtract(6, 'days'), this.$moment()],
        //   'Last 30 Days': [this.$moment().subtract(29, 'days'), this.$moment()],
        //   'This Month': [this.$moment().startOf('month'), this.$moment().endOf('month')],
        //   'Last Month': [this.$moment().subtract(1, 'month').startOf('month'), this.$moment().subtract(1, 'month').endOf('month')]
        // },
        "alwaysShowCalendars": true,
        "startDate": this.$moment(this.start, this.format).isValid() ? this.$moment(this.start, this.format) : this.$moment(),
        "endDate": this.$moment(this.end, this.format).isValid() ? this.$moment(this.end, this.format) : this.$moment(),
        "applyButtonClasses": "btn-default shadow-0",
        "cancelClass": "btn-success shadow-0"
      }

      $('#' + this.id).daterangepicker({...this.options, ...options}, (start, end, label) => {
        // console.log(start.format('YYYY-MM-DD HH:mm:ss') + ' to ' + end.format('YYYY-MM-DD HH:mm:ss'));
        this.$emit('setStart', start.format('YYYY-MM-DD'))
        this.$emit('setEnd', end.format('YYYY-MM-DD'))
      })
    }
  }
}
</script>
