<template>
  <div>
    <template v-if="disabled && iValue.length===0">
      <span></span>
    </template>
    <a v-else href="" class="btn btn-outline-warning btn-inline-block mr-1 form-control" data-toggle="modal" ref="targetModal">
      <span v-if="!disabled" class="fal fa-cloud-upload"></span>
      {{$t(label)}}
      <i v-if="iValue.length > 0" class="fal fa-ballot"></i>
    </a>
    <!-- modal -->
    <div class="modal fade" ref="modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ $t('Tài liệu') }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div v-if="display==='thumb'" ref="fileUpload" class="dropzone"></div>

              <table v-if="display==='list'" ref="fileDatatable" class="table table-bordered table-hover" width="100%">
                <thead>
                <tr>
                  <th>{{ $t('id') }}</th>
                  <th>{{ $t('ext') }}</th>
                  <th>{{ $t('Tên') }}</th>
                  <th width="150px">{{ $t('Ngày tạo') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item) in this.iValue">
                  <td>{{item.id}}</td>
                  <td>{{item.ext}}</td>
                  <td>{{item.name}}</td>
                  <td width="150px">{{$moment(item.created_at).format($c.FORMAT_DATETIME)}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div v-if="display==='thumb'" class="modal-footer">
            <button v-if="!disabled" @click="clearAll" type="button" class="btn btn-primary waves-effect waves-themed">{{$t('Xóa toàn bộ')}}</button>
            <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal">{{$t('Đóng')}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->
  </div>
</template>

<script>
export default {
  props: {
    value : Array,
    label : {
      type    : String,
      default : '',
    },
    text : {
      type    : String,
      default : 'Kéo thả để tải lên tệp tin',
    },
    disabled : Boolean,
    display  : {
      type    : String,
      default : 'thumb', // thumb | list
    },
    url : {
      type    : String,
      default : ''
    },
    baseUrl : {
      type    : String,
      default : ''
    }
  },
  data(){
    return {
        iValue : this.value,
      }
  },
  computed : {
    fileUpload(){
      return $(this.$refs.fileUpload)
    },
    fileDatatable(){
      return $(this.$refs.fileDatatable)
    },
    uploadUrl(){
      return this.url ? this.url : this.$axios.defaults.baseURL + '/file/upload'
    },
    downloadUrl(){
      return this.baseUrl ? this.baseUrl : this.$axios.defaults.baseURL + '/file/'
    },
    curDropzone(){
      // vì sử dụng jquery nên phải lấy dropzone ở đây
      return this.$refs.fileUpload.dropzone
    },
    modalId(){
      return 'file-modal-' + this._uid
    }
  },
  mounted() {
    this.$refs.modal.id = this.modalId
    this.$refs.targetModal.setAttribute('data-target', '#' + this.modalId)

    if(this.display === 'thumb') {
      this.renderThumb()
    }else if(this.display === 'list') {
      this.renderList()
    }
  },
  methods: {
    renderThumb(){
      // console.log('file upload', $('div#file-upload-'+this._uid))
      this.fileUpload.dropzone(
        {
          headers              : this.$axios.defaults.headers.common,
          url                  : this.uploadUrl,
          chunking             : false,
          method               : "POST",
          maxFilesize          : 10000000,
          chunkSize            : 1000000,
          parallelChunkUploads : false,
          addRemoveLinks       : true,
          // dictRemoveFile    : '',
          // removedfile          : (file) => {
          //   this.delItem(file['id']);
          // },
          previewTemplate: `
              <div class="dz-preview dz-file-preview">
                <div class="dz-image"><img data-dz-thumbnail src="/img/ext/default.png" /></div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                <div class="dz-success-mark">
                  <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <title>Check</title>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                      <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                    </g>
                  </svg>
                </div>
              </div>
            `
        });

      this.curDropzone.on("success", (file,res) => {
        this.addItem(file,res)
      });

      this.curDropzone.on("removedfile", (file) => {
        // console.log('removedfile')
        this.delItem(file['id']);
      });

      if(this.disabled)
      {
        this.curDropzone.options.addRemoveLinks = false;
        this.curDropzone.disable()
      }

      this.curDropzone.on("error", (res) => {
        this.addError(res.error)
      });

      if(this.disabled)
      {
        this.curDropzone.options.addRemoveLinks = false;
        this.curDropzone.disable();
      }

      this.renderFiles();
    },
    renderList(){
      // Datatable View
      this.fileDatatable.dataTable({
        language: this.getLanguage(),
        columnDefs: [
          {
            targets: 0,
            visible:false
          },
          {
            targets: 1,
            visible:false
          },
          {
            targets: 2,
            render: (data, type, row, meta) => {

              var imgExt = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'svg', 'ico'];

              let strClass = ''
              if(imgExt.indexOf(row[1]) === -1) {
                //fancy = false;
              } else {
                strClass = 'fancy'
              }

              let baseUrl = this.downloadUrl + row[0]
              return `<a href="${baseUrl}" class="${strClass}">${data}</a>`
            }
          }
        ]
      });
    },
    addItem(file,res) {
      // console.log('addItem', file,res, this.iValue)
      res['clientDataURL'] = file.dataURL // Use client url/data this time ( file does not exist on server this time)
      this.iValue.push(res)
      this.renderFiles()

      this.$emit('update:value', [res])
      this.$emit('itemAdded', res)
    },
    addError(strError) {
      var mockFile =
          {
            'base'  : '#',
            'name'  : strError,
            'thumb' : '/img/ext/error.png',
            'fancy' : false
          };

      this.curDropzone.emit("addedfile", mockFile);
      this.curDropzone.emit("thumbnail", mockFile, mockFile['thumb']);
    },
    delItem(id) {
      for(let i=0;i<this.iValue.length;i++) {
        if(id === this.iValue[i].id) {
          this.iValue.splice(i, 1);
        }
      }

      this.renderFiles()

      this.$emit('update:value', this.iValue)
      this.$emit('itemRemoved', id)
    },
    clearAll() {
      this.iValue.splice(0);
      this.renderFiles()

      this.$emit('update:value', this.iValue)
      this.$emit('itemCleared')
    },
    renderFiles() {

      if (typeof this.curDropzone == 'undefined') {
        setTimeout(() => {
          this.renderFiles();
        }, 100)
      }

      this.fileUpload.html('');
      for(let item of this.iValue) {

        var mockFile = {
          id     : item.id,
          base   : item.clientDataURL ? item.clientDataURL : this.downloadUrl + '/file/' + item.id, // + '?width=1024'; // Used for fancy box
          name   : item.name,
          target : '',
        }

        var imgExt = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'svg', 'ico'];

        if(imgExt.indexOf(item.ext) === -1) {
          mockFile['fancy'] = false;
          mockFile['thumb'] = '/img/ext/default.png'
        } else {
          mockFile['fancy'] = true;
          mockFile['thumb'] = item.clientDataURL ? item.clientDataURL : this.downloadUrl + '/file/' + item.id + '?width=100';
        }

        if(item.ext === 'pdf')
        {
          mockFile['fancy'] = true;
          mockFile['thumb'] = '/img/ext/pdf.png';
        }

        /*if(item.ext == 'doc' || item.ext == 'docx')
        {
          mockFile['target'] = '_blank';
          mockFile['thumb'] = '/img/ext/doc.png';
          mockFile['base'] = 'https://docs.google.com/gview?url=' + mockFile['base'];
        }*/

        this.curDropzone.emit("addedfile", mockFile);
        this.curDropzone.emit("thumbnail", mockFile, mockFile['thumb']);
      }

      if(this.iValue.length === 0)
      {
        this.fileUpload.html('<div class="dz-default dz-message"><span>'+this.$t(this.text)+'</span></div>');
      }
    },
    getLanguage() {
      return this.$i18n.t("datatable")
    }
  }
};
</script>
