<template>
  <div>
    <div class="row" :class="sortable ? 'sortBlock' : ''">
      <div v-if="renderComponent" class="row col-12 mb-3" :class="sortable ? 'sort-item' : ''" v-for="(item, index) in value" :key="index" :data-id="index">
        <div class="col-1" v-if="sortable">
          <a class="btn btn-sm bt-default btn-sort"><i class="fal fa-sort-alt"></i></a>
          {{ index }}
        </div>
        <slot :item="item" :index="index"></slot>
        <div class="col-1 text-right" v-if="!disabled">
          <div class="sform-control-no-border">
            <button type="button" @click="removeItem(index)" class='btn btn-sm btn-outline-danger btn-icon'><i class="fal fa-times"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="!disabled">
      <div class="col-12">
        <button @click="addItem" type="button" class='btn btn-sm btn-outline-primary float-right' v-show="max == 0 || value.length < max"><i class="fal fa-plus"></i></button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type    : Array,
      require : true
    },
    max : {
      type    : Number,
      default : 0
    },
    disabled  : {
      type    : Boolean,
      default : false
    },
    label : String,
    sortable: false,
  },
  data() {
    return {
      renderComponent: true,
    }
  },
  computed : {
    format(){
      let format = {},
          ignores = ['created_at', 'updated_at', 'id', 'last_user_id']

      if (!Array.isArray(this.value) || !this.value.length) {
        console.error('Hey dev! Please init a format')
        return format
      }

      for(let k in this.value[0]){
        if(ignores.includes(k)){
          continue
        }

        format[k] = Array.isArray(this.value[0][k]) ? [] : ''
      }

      return format
    }
  },
  mounted() {
    if (this.sortable) {
      setTimeout(() => {
        this.initSort()
      }, 500)
    }
  },
  methods: {
    addItem() {
      this.$emit('itemBeforeAdd')

      this.value.push({...this.format})

      this.$emit('itemAdded')
    },
    removeItem(index) {
      this.$emit('itemBeforeRemove', index)

      this.value.splice(index, 1)

      this.$emit('itemRemoved', index)
    },
    initSort() {
      let self = this

      let fixHelper = function(e, ui) {
        ui.children().each(function() {
          $(this).width($(this).width())
        })
        return ui
      }

      $('.sortBlock').sortable({
        handle: '.btn-sort',
        items: '.sort-item',
        update: function( event, ui ) {
          let sort = []
          self.value.forEach((e, index) => {
            e.index = index
          })

          $('.sort-item').each(function (i) {
            let id = $(this).attr('data-id')
            sort.push(parseInt(id))
          })

          self.value.sort((a, b) => {
            return sort.indexOf(a.index) - sort.indexOf(b.index)
          })

          self.value.forEach((e, index) => {
            delete e.index
          })

          // Remove my-component from the DOM
          self.renderComponent = false

          self.$nextTick(() => {
            // Add the component back in
            self.renderComponent = true
          });

        },
        start: function( event, ui ) {
        },
        helper: fixHelper
      }).disableSelection()
    }
  }
}
</script>
