<template>
  <div>
    <select ref="select" :disabled="disabled" v-if="!optgroup" v-model="iValue" class="select2 form-control w-100" :multiple="multiple" v-on="$listeners">
      <option v-if="!multiple && label" value="">--- {{label}} ---</option>
      <option v-for="item in list" :value="item.id" :key="item.id">{{ $h.vt ? $h.vt(item.name) : item.name }}</option>
    </select>
    <select ref="select" :disabled="disabled" v-if="optgroup" v-model="iValue" class="select2 form-control w-100" :multiple="multiple" v-on="$listeners">
      <option v-if="!multiple && label" value="">--- {{label}} ---</option>
      <optgroup v-for="(opts, lbl) in list" :label="lbl">
        <option v-for="item in opts" :value="item.id" :key="item.id">{{ $h.vt ? $h.vt(item.name) : item.name }}</option>
      </optgroup>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    id       : String,
    value    : [String,Number,Array],
    list     : [Object,Array],
    label    : String,
    dataName : {
      type    : String,
      default : '',
    },
    name : {
      type    : String,
      default : '',
    },
    multiple : Boolean,
    optgroup : Boolean,
    disabled : {
      type    : Boolean,
      default : false,
    },
    change   : {
      type    : Function,
      default : function(){
      }
    },
    max : {
      type    : Number,
      default : -1
    }
  },
  computed : {
    iValue: {
      get(){
        if (Array.isArray(this.value)) {
          return this.value.map(e => e.id ? e.id : e)
        } else {
          return this.value ? (this.value) : (this.multiple ? [] : '')
        }
      },
      set(value){
        this.$emit('input', value)
      }
    },
    select(){
      return $(this.$refs.select)
    },
    inputListeners: function () {
      const vm = this;
      // `Object.assign` merges objects together to form a new object
      return Object.assign({},
          // We add all the listeners from the parent
          this.$listeners,
          // Then we can add custom listeners or override the
          // behavior of some listeners.
          {
            // This ensures that the component works with v-model
            input: function (event) {
              vm.$emit('input', event.target.value)
            }
          }
      )
    }
  },
  watch: {
    // list: {
    //   handler(newVal) {
    //     this.init()
    //   },
    //   deep: true
    // },
    value: {
      handler(newVal) {
        setTimeout(() => {
          this.init()
        }, 50)
      },
      deep: true
    }
  },
  mounted() {
    setTimeout(() => {
      this.init()
    }, 100)
  },
  methods: {
    init() {
      let a = this.select.select2().on('select2:select', (e) => {
        if(this.multiple) {
          const tmp = this.iValue
          tmp.push(e.params.data.id)
          this.iValue = tmp
        } else {
          this.iValue = e.params.data.id
        }

        this.$nextTick(() => {
          this.$emit('change')
        })
      }).on('select2:unselecting', (e) => {
        // console.log('unselecting')
        this.$nextTick(() => {
          this.iValue = this.select.val()
          // this.$emit('input', this.iValue)
          this.$emit('unselecting')
        })
      })

      a.attr('data-name', this.dataName)
      a.attr('name', this.name)
    }
  }
}
</script>

<style>
.select2-dropdown {
  z-index: 10000;
}
</style>
