<template>
  <div class="custom-switch form-control-no-border">
    <input v-model="iValue" name="switch" type="checkbox" class="custom-control-input" ref="switch" @change="changeSwitch">
    <label class="custom-control-label" ref="label">
      <slot>
        <template v-if="value">{{labelTrue}}</template>
        <template v-if="!value">{{labelFalse}}</template>
      </slot>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type    : [Number, String, Boolean],
      default : null
    },
    labelTrue  : String,
    labelFalse : String,
    index      : Number,
    url        : {
      type : String ,
      default : ''
    },
    model: {
      type    : String,
      default : ''
    },
    field: {
      type    : String,
      default : ''
    },
    recordId: {
      type    : Number,
      default : 0
    }
  },
  data() {
    return {
      defaultValue : 0,
    }
  },
  computed : {
    id(){
      return `customSwitch_${this._uid}`
    },
    iValue: {
      get(){
        return this.value
      },
      set(v){
        let _v = v

        switch(typeof(this.value)){
          case 'string':
            break;
          case 'boolean':
            _v = v ? true : false
            break;
          case 'number':
            _v = v ? 1 : 0
            break;
        }
        this.$emit('input', _v)
      }
    },
  },
  beforeMount(){
    if (this.value === null) {
      this.iValue = this.defaultValue
    }
  },
  mounted(){
    this.$refs.switch.id = this.id
    this.$refs.label.setAttribute('for', this.id)
  },
  methods: {
    changeSwitch(){
      this.$emit('change')

      if(this.url){
        this.$axios.$post(this.url, this.data)
      }

      if (this.model && this.recordId) {
        this.updateStatus()
      }
    },

    updateStatus() {
      const data = {
        model: this.model,
        id: this.recordId
      }
      if (this.field) data.field = this.field
      this.$axios.$post('/common/active', data)
    }
  }
}
</script>
